.MuiBox-root.css-1gsv261 {
    display: flex;
    justify-content: center;
    width: 100%;
}
button#simple-tab-0 {
    font-family: "Gilroy", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
button#simple-tab-1 {
    font-family: "Gilroy", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
button#simple-tab-2 {
    font-family: "Gilroy", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
button#simple-tab-3 {
    font-family: "Gilroy", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
button#simple-tab-4 {
    font-family: "Gilroy", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}