.MuiBox-root.css-0 {
    display: flex;
    justify-content: center;
}
button#simple-tab-0 {
    font-family: "Gilroy", Sans-serif;
    font-size: 33px;
    font-weight: 600;
    text-transform: uppercase;
}
button#simple-tab-1 {
    font-family: "Gilroy", Sans-serif;
    font-size: 33px;
    font-weight: 600;
    text-transform: uppercase;
}
button#simple-tab-2 {
    font-family: "Gilroy", Sans-serif;
    font-size: 33px;
    font-weight: 600;
    text-transform: uppercase;
}
button#simple-tab-3 {
    font-family: "Gilroy", Sans-serif;
    font-size: 33px;
    font-weight: 600;
    text-transform: uppercase;
}
button#simple-tab-4 {
    font-family: "Gilroy", Sans-serif;
    font-size: 33px;
    font-weight: 600;
    text-transform: uppercase;
}